* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F6F8FA;
}

.ant-notification-notice-message {
    margin-left: 40px !important;
}

.ant-notification-notice-description {
    margin-left: 40px !important;
}


table tr td {
    padding-inline: 5px !important;
    padding-block: 0px !important;
    font-size: 14px;
    text-align: center;
}

table tr th {
    padding-inline: 15px !important;
    text-align: center !important;
    padding: 5px !important;
    padding-inline: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}